---
import ComingSoon from '../components/ComingSoon.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nina Ritter</title>
	</head>
	<body>
    <div
      class="
        absolute
        inset-0
        bg-[url('/comming-soon.webp')]
        bg-no-repeat
        bg-cover
        bg-center
        opacity-20
      "
    />
		<ComingSoon />

    <span class="absolute bottom-2 text-white text-sm md:text-xl font-thin">
      © 2024 juerg lauber by JLa-photographie
    </span>

    <style is:global>
      @font-face {
        font-family: 'Gilroy ExtraBold';
        src: url('/Gilroy-ExtraBold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
	</body>
</html>
