---
// Component Script (JavaScript)
---

<!-- Component Template (HTML + JS Expressions) -->
<div class="Menu select-none relative">
  <ul class="Menu-list" data-offset="10">
    <li class="Menu-list-item" data-offset="20">
      COMING SOON
      <span class="Mask"><span>COMING SOON</span></span>
      <span class="Mask"><span>COMING SOON</span></span>
    </li>
  </ul>

  <div class="text-white flex items-center justify-center gap-1 mt-4 z-[999] absolute left-1/2 -translate-x-1/2">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0,0,256,256">
      <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.33333,5.33333)"><path d="M16.5,5c-6.341,0 -11.5,5.159 -11.5,11.5v15c0,6.341 5.159,11.5 11.5,11.5h15c6.341,0 11.5,-5.159 11.5,-11.5v-15c0,-6.341 -5.159,-11.5 -11.5,-11.5zM34,12c1.105,0 2,0.895 2,2c0,1.104 -0.895,2 -2,2c-1.105,0 -2,-0.896 -2,-2c0,-1.105 0.895,-2 2,-2zM24,14c5.514,0 10,4.486 10,10c0,5.514 -4.486,10 -10,10c-5.514,0 -10,-4.486 -10,-10c0,-5.514 4.486,-10 10,-10zM24,17c-3.86599,0 -7,3.13401 -7,7c0,3.86599 3.13401,7 7,7c3.86599,0 7,-3.13401 7,-7c0,-3.86599 -3.13401,-7 -7,-7z"></path></g></g>
    </svg>
    <a
      href="https://www.instagram.com/n_ina_?igsh=OTB3MDJobnNoMDIx"
      target="_blank"
      class="underline"
    >
      Instagram
    </a>
  </div>
</div>

<style lang="scss">
  /* // === Variables ===== */
  $perspective:     60rem;
  $font-size:       4.25rem;
  $split-position:  49%;
  $split-thickness: 4px;
  $split-color:     #FF2C75;

  /* // === Settings ===== */
  %font-settings {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
  }

  /* // === Codepen Setup ===== */
  html,
  body {
    width: 100vw;
    height: 100vh;
  }
  body {
    background: linear-gradient(45deg, black, black);
    transform-style: preserve-3d;
    transform: perspective($perspective);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  /* // === Menu <ul> ===== */
  .Menu-list {
    @extend %font-settings;
    font-size: $font-size;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(-10deg) rotateY(20deg); /* // overwritten by JS */
  }

  /* // === Menu item ===== */
  .Menu-list-item {
    position: relative;
    color: transparent;
    cursor: pointer;
    
    /* // === Split Line ===== */
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: $split-position;
      left: -10%;
      right: -10%;
      height: $split-thickness;
      border-radius: $split-thickness;
      margin-top: -(calc($split-thickness / 2));
      background: $split-color;
      transform: scale(0);
      transition: transform .8s cubic-bezier(.16,1.08,.38,.98);
      z-index: 1;
    }
  }

  /* // === Top/bottom mask ===== */
  .Mask {
    display: block;
    position: absolute;
    overflow: hidden;
    color: $split-color;
    top: 0;
    height: $split-position;
    transition: all .8s cubic-bezier(.16,1.08,.38,.98);
    
    span { display: block; }
  }

  /* // === Bottom mask specific ===== */
  .Mask + .Mask {
    top: $split-position - 0.1;
    height: 100 - $split-position + 0.1;
    
    span { transform: translateY(-$split-position); }
  }

  /* // === Where the fun stuff happens ===== */
  .Menu-list-item:hover,
  .Menu-list-item:active {
    .Mask { color: #FFF; transform: skewX(12deg) translateX(5px); }
    .Mask + .Mask { transform: skewX(12deg) translateX(-5px); }
    &::before { transform: scale(1); }
  }
</style>